event_frontend/node_modules/
event_frontend/dist/
event_frontend/build/
event_frontend/.vite/


target/
*.jar
*.war
*.log


node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


__pycache__/
*.pyc


.env
.env.*
!.env.example

docker-compose.override.yml

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml


.merge_file_*
*.orig


logs/
*.log


coverage/
*.lcov